<div class="container text-center">
  <div class="row row-cols-4">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="col">Date</div>
    <div class="col"></div>
  </div>
{{#each data}}
<hr>
  <div class="container">
    <div class="row row-cols-4">
      <div class="col">{{this.name}}</div>
      <div class="col">{{this.description}}</div>
      <div class="col">{{this.todo_date}}</div>
      <div class="col"><a href="/todo-delete/{{this.id}}" class="btn btn-danger">Eliminar</a></div>
    </div>
  </div>
{{/each}}
  <a href="/todo-create/{{this.id}}" class="text-center btn btn-primary">Agregar TODO</a>
</div>